<ion-view view-title="Category">
    <ion-header-bar>
        <h1 class="title">Category</h1>
    </ion-header-bar>
    <ion-content padding="True">

       <p>This shows the contents inside a category.</p>
        <div ng-show="{{category.thumbnail != undefined}}" ng-click="showCata($index)" class="full-card">
            <img src="{{category.thumbnail}}">
        </div>
        <div ng-repeat="oneSec in oneSection">
            <li>{{oneSec.title}}</li>
        </div><hr>
        <h2>testing below</h2><br>
        <p ng-bind-html="myHtml"></p>
    </ion-content>
</ion-view>
