<ion-view view-title="Cover">
    <ion-header-bar>
        <h1 class="title">Cover</h1>
    </ion-header-bar>
    <ion-content id="cover1" padding="True">
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="cover1-page">
                <div class="cover1-header">
                <h4 class="red company-name">ESC Pile</h4>
                    <img src="images/icon.png" id="ESCicon" alt="ESC icon">
                    <br>
                <p>
                    <b><h2 class="red title">Product Catalogue 2015</h2></b>
                </p>
                    <h4>Manufactured and Designed to ISO Certification</h4>
                </div>
                    <img src="images/splash.png" class="maxSize" id="coverImg" alt="ESC cover">
                    <p></p>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="cover2-page">
                <div class="cover2-header">
                    <h2 class="red">Help</h2>
                </div>
                <div class="cover2-content">
                    a<br>a<br>a<br>a<br>a<br>a<br>a<br>
                    a<br>a<br>a<br>a<br>a<br>a<br>a<br>
                    a<br>a<br>a<br>a<br>a<br>a<br>a<br>
                    a<br>a<br>a<br>a<br>a<br>a<br>a<br>
                    a<br>a<br>a<br>a<br>
                </div>
                </div>
            </ion-slide>
            <ion-slide>
            </ion-slide>
        </ion-slide-box>
            <!--<img ng-click="testt()" src="images/splash.png" class="maxSize" id="coverImg" alt="ESC cover">-->
            <!--<iframe width="640" height="320" src="https://www.youtube.com/embed/ccKNpuYiNLE" frameborder="0" allowfullscreen></iframe>-->
    </ion-content>
</ion-view>
