<ion-view view-title="Cover">
    <ion-header-bar>
        <h1 class="title">Cover</h1>
    </ion-header-bar>
    <ion-content padding="True">
        <div class="cover-page">
        <div class="cover-text">
        <h4 class="red company-name">ESC Pile</h4>
            <img src="images/icon.png" id="ESCicon" alt="ESC icon">
            <br>
        <p>
            <b><h2 class="red title">Product Catalogue 2015</h2></b>
        </p>
            <h4>Manufactured and Designed to ISO Certification</h4>
        </div>
            <img ng-swipe-left='testt()'
        src="images/splash.png" class="maxSize" id="coverImg" alt="ESC cover">
            <!--<img ng-click="testt()" src="images/splash.png" class="maxSize" id="coverImg" alt="ESC cover">-->
            <script id="slide1.html" type="text/ng-template">
                <h1>1 Slide!</h1>
            </script>
            <script id="slide2.html" type="text/ng-template">
                <h1>2 Slide!</h1>
            </script>
    </div>
    </ion-content>
</ion-view>
