<ion-view view-title="Cover" hide-nav-bar="true">
    <ion-content scroll="false" id="cover1" padding="True">
        <ion-slide-box show-pager="false" active-slide="coverSlide" on-slide-changed="slideHasChanged(index)">
            <ion-slide>
                <div class="cover1-page">
                <div class="cover1-header">
                    <img src="images/icon.png" id="ESCicon" alt="ESC icon">
                <p>
                    <b><h2 class="red title">PILING SOLUTIONS</h2></b>
                </p>
                    <h4>Manufactured and Designed to ISO Certification</h4>
                </div>
                    <div class="chop1">
                        <img src="images/splash.png" class="maxSize1" id="coverImg" alt="ESC cover">
                    </div>
                    <p></p>
                </div>
            </ion-slide>
            <ion-slide class="cover2-page">
                <b><h2 class="red title">HELP</h2></b>
                <div class="row">
                    <div class="col col-33">
                        <img src="images/help-info2a.jpg" id="cover2Img" alt="ESC cover">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src="images/help-info2b.jpg" id="cover3Img" alt="ESC cover">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="images/help-info2c.jpg" id="cover4Img" alt="ESC cover">
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>

            <!--<ion-slide>-->
                <!--<div class="row">-->
                <!--<div class="col col-50">-->
                    <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/ccKNpuYiNLE" frameborder="0" allowfullscreen></iframe>-->
                    <!--<p></p>-->
                    <!--<iframe width="420" height="315" src="https://www.youtube.com/embed/PvzTubdxiRw" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
                    <!--<div class="col col-50">-->
                        <!--<ion-scroll>-->
                            <!--bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                            <!--bb<br><br><br>bb<br><br><br>bb<br><br><br>-->
                        <!--</ion-scroll>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-slide>-->

            <ion-slide>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
