<ion-view view-title="Home">
    <ion-header-bar>
        <h1 class="title">Home</h1>
    </ion-header-bar>
    <ion-content padding="True">
        <div class="list card card-wrap" ng-repeat="category in categories" ng-click="selectCategory(category)">
            <div class="item">
                <h2>{{category.title}}</h2>
            </div>

            <div ng-show="{{category.thumbnail != undefined}}" class="full-card">
                <img src="{{category.thumbnail}}">
            </div>
        </div>
    </ion-content>
</ion-view>
