<ion-view view-title="Home">
    <ion-header-bar>
        <h1 class="title">Home</h1>
    </ion-header-bar>
    <ion-content padding="True">
        {{filterIt()}}
        <!--<div ng-repeat="title in oneSection">-->
            <!--<li>{{title}}</li>-->
        <!--</div>-->

        <img src=""><br>
        <!--<img src="{{newInfo}}"><br>-->
        <!--{{newInfo2}}-->
        <div class="list card card-wrap" ng-repeat="category in categories">
            <a ng-click="setCateView($index)" href="#/category/:category">
            <div class="item">
                <h2>{{category.title}}</h2>
            </div>

            <div ng-show="{{category.thumbnail != undefined}}" class="full-card">
                <img src="{{category.thumbnail}}">
            </div>
            </a>
        </div>
    </ion-content>
</ion-view>
