<ion-view view-title="{{section.title}}" class="sectionView">
    <ion-header-bar>
        <h1 class="title">{{section.title}}</h1>

        <div bind-html-compile="sectionData.content"></div>
    </ion-header-bar>
    <!--<ion-content bind-html-compile="trustContent(sectionData.content)"></ion-content>-->
    <ion-content class="content sectionContent" ng-click="debugIt()">

        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged(index)">
            <ion-slide>
                <img class="diagram" ng-src="http://escgroup.net/{{sectionData.diagram}}">
                <div class="sectionDescription">
                    {{sectionData.diagram_description}}
                </div>
                <img class="headerImage" ng-src="http://escgroup.net/{{sectionData.headerImage}}">
            </ion-slide>
            <ion-slide>
                <div class="tableSlide" ng-show="!isDetail" ng-click="showDetail($event)">
                    <ion-scroll direction="xy" style="width: 99%" ng-style="{height: 85 + 'vh'}">
                        <div bind-html-compile="theTable"></div>
                        <br>
                    </ion-scroll>
                </div>
                <div class="list card" ng-show="isDetail" ng-click="showDetail()">
                    <h2><div class="item item-divider">{{targetTitle}}</div></h2>
                    <div class="item item-divider">Recent Updates</div>
                    <div class="item item-body">
                        aaaaa
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="fullPictureContainer">
                <img class="fullScreenImage centerize" ng-src="http://escgroup.net/{{sectionData.section_fullsize_picture}}">
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <div class="button icon ion-ios-arrow-back" title="Home" ng-click="slideTo(0)">
        </div>
        <div class="button icon ion-navicon" ng-click="slideTo(1)">
        </div>
        <div class="button icon ion-image" ng-click="slideTo(2)">
        </div>
    </ion-footer-bar>
</ion-view>
