/* Empty. Add your own CSS if you like */

.card-wrap {
    height: 100% !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -moz-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -webkit-box-pack: justify !important;
    -moz-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-align-content: space-around !important;
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
    -webkit-box-align: stretch !important;
    -moz-box-align: stretch !important;
    -webkit-align-items: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;

}

.full-card {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    -webkit-align-self: stretch !important;
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;

    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-direction: normal !important;
    -moz-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -moz-box-orient: horizontal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    -webkit-box-pack: center !important;
    -moz-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-align-content: space-between !important;
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
img{
    height:auto;
    width:auto;
    max-width:90%;
    /*position: relative;*/
}
.maxSize{
    width:100%;
    max-width:100%;
}
ion-content{
    background-color: #dddddd;
}
/*general css above*//*general css above*//*general css above*/


.cover1-page {
    margin:0.8em;
}
.cover1-header {
    background-color: #ffffff;
    padding: 1em 1em 2em 2em;
    border-radius: 0 0 0 3em;
}
.cover2-page{
    margin:0.8em;
}

.cover2-header{
    background-color: #ffffff;
    border-radius: 0 0 0 3em;
    padding:3em;
}
.cover2-content{
    background-color: #ffffff;
    border-radius: 0 0 3em 0;

}

#ESCicon{
    width: 6em;
    position: absolute;
    top: 2.1em;
    right:2.1em;
}
#coverImg{
    border-radius: 0 0 3em 0;
}


.red{
    color:orangered;
}